# いろいろなフォルダーからのデータの抽出
-読み込みのための関数を作っている

In [255]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
import folium

In [256]:
class CFG:
    note_num = "StackingOpt/EDA002"
    seed = 42


OUTPUT_DIR = f'H:/study/output/{CFG.note_num}/'

if not os.path.exists(OUTPUT_DIR):
    os.makedirs(OUTPUT_DIR)

# preprocessing_data\1_twoweeks_nv より

In [102]:
unique_id = ['10000095', '10000269', '1020000002', '1110000001', '1110000010', '1110000011', '1110000012', '1110000013', '1110000014', '1110000015', '1160000025', '1160000090', '1160000091', '1160000182', '1160000185', '1160000253', '1160000387', '1160000402', '1160000419', '1160000420', '1160000423', '1270000026', '1280000048', '1550000001', '1650000004', '1680000001', '1680000002', '1680000003', '1680000004', '1680000010', '1680000017', '1680000021', '1680000033', '1680000047', '1680000054', '1680000057', '1680000063', '1680000067', '1680000080', '1680000081', '1680000097', '1680000107', '1680000108', '1680000112', '1680000151', '1680000152', '1680000213', '1680000216', '1680000217', '1680000218', '1680000223', '1680000228', '1680000285', '1680000287', '1680000327', '1680000364', '2220000001', '2220000002', '2220000003', '2730000001', '2910000002', '3000000007', '3000000012', '3000000042', '5000000044', '5000000045', '6000000016', '6000000017', '6060000016', '6060000017', '6060000018', '6170000016', '6170000123', '6170000124', '6170000125', '6620000065', '6620000066', '6620000088', '6620000089', '6620000111', '6620000117', '6620000118', '6620000121', '6620000122', '6620000123', '6620000124', '6620000131', '6620000132', '6910000180', '6910000198', '6910000200', '6910000206', '6910000216', '6910000217', '6910000239', '6910000240', '6910000249', '6910000250', '6910000421', '6910000424', '6910000425', '6910000469', '6910000470']
unique_id = [int(i) for i in unique_id]
to_unique_id = [str(num).zfill(10) for num in unique_id]

df_list = []
for id in to_unique_id:
    path = f"H:/study/preprocessing_data/1_twoweeks_nv/{id}.csv"
    df = pd.read_csv(path, header=None, index_col=None)
    df.columns = ["year","month","day","hour","flag","nv","two_weeks_max"]
    df["id"] = int(id)
    df_list.append(df)
    
df = pd.concat(df_list)

In [110]:
df

,year,month,day,hour,flag,nv,two_weeks_max,id,two_weeks_max*nv
0,13,8,1,0.0,0,0.0,0.0,10000095,0.0
1,13,8,1,0.5,0,0.0,0.0,10000095,0.0
2,13,8,1,1.0,0,0.0,0.0,10000095,0.0
3,13,8,1,1.5,0,0.0,0.0,10000095,0.0
4,13,8,1,2.0,0,0.0,0.0,10000095,0.0
...,...,...,...,...,...,...,...,...,...
17254,14,7,31,21.5,1,0.0,0.0,6910000470,0.0
17255,14,7,31,22.0,1,0.0,0.0,6910000470,0.0
17256,14,7,31,22.5,1,0.0,0.0,6910000470,0.0
17257,14,7,31,23.0,1,0.0,0.0,6910000470,0.0
17258,14,7,31,23.5,1,0.0,0.0,6910000470,0.0

# preprocessing_data\4_interpolated_mesh より

In [145]:
id_all_data = pd.read_csv(r"H:\study\preprocessing_data\id_all_data.csv", encoding="shift_jis")

unique_id = ['10000095', '10000269', '1020000002', '1110000001', '1110000010', '1110000011', '1110000012', '1110000013', '1110000014', '1110000015', '1160000025', '1160000090', '1160000091', '1160000182', '1160000185', '1160000253', '1160000387', '1160000402', '1160000419', '1160000420', '1160000423', '1270000026', '1280000048', '1550000001', '1650000004', '1680000001', '1680000002', '1680000003', '1680000004', '1680000010', '1680000017', '1680000021', '1680000033', '1680000047', '1680000054', '1680000057', '1680000063', '1680000067', '1680000080', '1680000081', '1680000097', '1680000107', '1680000108', '1680000112', '1680000151', '1680000152', '1680000213', '1680000216', '1680000217', '1680000218', '1680000223', '1680000228', '1680000285', '1680000287', '1680000327', '1680000364', '2220000001', '2220000002', '2220000003', '2730000001', '2910000002', '3000000007', '3000000012', '3000000042', '5000000044', '5000000045', '6000000016', '6000000017', '6060000016', '6060000017', '6060000018', '6170000016', '6170000123', '6170000124', '6170000125', '6620000065', '6620000066', '6620000088', '6620000089', '6620000111', '6620000117', '6620000118', '6620000121', '6620000122', '6620000123', '6620000124', '6620000131', '6620000132', '6910000180', '6910000198', '6910000200', '6910000206', '6910000216', '6910000217', '6910000239', '6910000240', '6910000249', '6910000250', '6910000421', '6910000424', '6910000425', '6910000469', '6910000470']
unique_id = [int(i) for i in unique_id]

id_data = id_all_data[id_all_data.id.isin(unique_id)].reset_index(drop=True)

min_lat,max_lat = id_data.id_lat.min(),id_data.id_lat.max()
min_lng,max_lng = id_data.id_lng.min(),id_data.id_lng.max()

id_data

,id,id_lat,id_lng,id_lat_mesh,id_lng_mesh,id_prefecture,pvrate,observed_max
0,10000095,35.74936,139.99181,35.74,140.00,千葉県,4.00,958.4000
1,10000269,35.70910,139.95892,35.70,139.96,千葉県,1.32,1172.6680
2,1020000002,35.71960,140.11927,35.72,140.12,千葉県,5.75,5150.5454
3,1110000001,35.72058,140.02484,35.72,140.02,千葉県,9.20,8432.7546
4,1110000010,35.65682,140.09113,35.66,140.10,千葉県,20.00,18208.5904
...,...,...,...,...,...,...,...,...
98,6910000421,35.73048,139.95546,35.74,139.96,千葉県,18.70,17351.7300
99,6910000424,35.74582,139.92609,35.74,139.92,千葉県,14.30,11921.5224
100,6910000425,35.73509,139.94345,35.74,139.94,千葉県,14.30,12474.2618
101,6910000469,35.81466,139.88526,35.82,139.88,埼玉県,14.30,13329.5162
102,6910000470,35.81466,139.88526,35.82,139.88,埼玉県,8.80,8510.7022

In [133]:
lat = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\lati_zenkoku.csv", header=None, index_col=None)
lon = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\long_zenkoku.csv", header=None, index_col=None)
now_path = r"H:\study\preprocessing_data\4_interpolated_mesh\5月\5月10日\NV1451012.00.02_int.csv"
next_path = r"H:\study\preprocessing_data\4_interpolated_mesh\5月\5月10日\NV1451014.50.02_int.csv"

prev = pd.read_csv(now_path, header=None, index_col=None)
next = pd.read_csv(next_path, header=None, index_col=None)

min_lat,max_lat = id_data.id_lat.min(),id_data.id_lat.max()
min_lng,max_lng = id_data.id_lng.min(),id_data.id_lng.max()

userow = (lon.iloc[:,0]>=min_lng)&(lon.iloc[:,0]<=max_lng)
usecol = (lat.iloc[0]>=min_lat)&(lat.iloc[0]<=max_lat)
prev2 = prev.loc[userow,usecol]
next2 = next.loc[userow,usecol]

In [172]:
def get_interpolated_mesh(min_lat,max_lat,min_lng,max_lng,lat,lon,dt):
    path = f"H:/study/preprocessing_data/4_interpolated_mesh/{dt.month}月/{dt.month}月{dt.day}日/NV{dt.year%1000}{dt.month}{dt.day}{dt.hour}.{int(dt.minute/60*10)}0.02_int.csv"
    df = pd.read_csv(path, header=None, index_col=None)

    userow = (lon.iloc[:,0]>=min_lng)&(lon.iloc[:,0]<=max_lng)
    usecol = (lat.iloc[0]>=min_lat)&(lat.iloc[0]<=max_lat)
    df = df.loc[userow,usecol]
    return df


dt = datetime(2013, 8, 20, 16, 30)
dt = datetime(2014,5,10,12,00)
df = get_interpolated_mesh(min_lat,max_lat,min_lng,max_lng,lat,lon,dt)

In [174]:
prev2.sum()-df.sum()

223    0.0
224    0.0
225    0.0
226    0.0
227    0.0
228    0.0
229    0.0
230    0.0
231    0.0
232    0.0
233    0.0
234    0.0
dtype: float64

# prediction_data\parameter_lambda_0.019_iterate_1000_p3\env

In [225]:
lat = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\lati_zenkoku.csv", header=None, index_col=None)
lon = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\long_zenkoku.csv", header=None, index_col=None)
id_all_data = pd.read_csv(r"H:\study\preprocessing_data\id_all_data.csv", encoding="shift_jis")

unique_id = ['10000095', '10000269', '1020000002', '1110000001', '1110000010', '1110000011', '1110000012', '1110000013', '1110000014', '1110000015', '1160000025', '1160000090', '1160000091', '1160000182', '1160000185', '1160000253', '1160000387', '1160000402', '1160000419', '1160000420', '1160000423', '1270000026', '1280000048', '1550000001', '1650000004', '1680000001', '1680000002', '1680000003', '1680000004', '1680000010', '1680000017', '1680000021', '1680000033', '1680000047', '1680000054', '1680000057', '1680000063', '1680000067', '1680000080', '1680000081', '1680000097', '1680000107', '1680000108', '1680000112', '1680000151', '1680000152', '1680000213', '1680000216', '1680000217', '1680000218', '1680000223', '1680000228', '1680000285', '1680000287', '1680000327', '1680000364', '2220000001', '2220000002', '2220000003', '2730000001', '2910000002', '3000000007', '3000000012', '3000000042', '5000000044', '5000000045', '6000000016', '6000000017', '6060000016', '6060000017', '6060000018', '6170000016', '6170000123', '6170000124', '6170000125', '6620000065', '6620000066', '6620000088', '6620000089', '6620000111', '6620000117', '6620000118', '6620000121', '6620000122', '6620000123', '6620000124', '6620000131', '6620000132', '6910000180', '6910000198', '6910000200', '6910000206', '6910000216', '6910000217', '6910000239', '6910000240', '6910000249', '6910000250', '6910000421', '6910000424', '6910000425', '6910000469', '6910000470']
unique_id = [int(i) for i in unique_id]

id_data = id_all_data[id_all_data.id.isin(unique_id)].reset_index(drop=True)

min_lat,max_lat = id_data.id_lat.min(),id_data.id_lat.max()
min_lng,max_lng = id_data.id_lng.min(),id_data.id_lng.max()

id_data

,id,id_lat,id_lng,id_lat_mesh,id_lng_mesh,id_prefecture,pvrate,observed_max
0,10000095,35.74936,139.99181,35.74,140.00,千葉県,4.00,958.4000
1,10000269,35.70910,139.95892,35.70,139.96,千葉県,1.32,1172.6680
2,1020000002,35.71960,140.11927,35.72,140.12,千葉県,5.75,5150.5454
3,1110000001,35.72058,140.02484,35.72,140.02,千葉県,9.20,8432.7546
4,1110000010,35.65682,140.09113,35.66,140.10,千葉県,20.00,18208.5904
...,...,...,...,...,...,...,...,...
98,6910000421,35.73048,139.95546,35.74,139.96,千葉県,18.70,17351.7300
99,6910000424,35.74582,139.92609,35.74,139.92,千葉県,14.30,11921.5224
100,6910000425,35.73509,139.94345,35.74,139.94,千葉県,14.30,12474.2618
101,6910000469,35.81466,139.88526,35.82,139.88,埼玉県,14.30,13329.5162
102,6910000470,35.81466,139.88526,35.82,139.88,埼玉県,8.80,8510.7022

In [249]:
# def get_prediction_data(min_lat,max_lat,min_lng,max_lng,lat,lon,dt):
#     path = f"H:/study/prediction_data/parameter_lambda_0.019_iterate_1000_p3/env/{dt.month}月/{dt.month}月{dt.day}日/NV{dt.year%1000}{dt.month}{dt.day}{dt.hour}.{int(dt.minute/60*10)}_0.02_0.019_1000_p3_env.csv"
#     df = pd.read_csv(path, header=None, index_col=None)

#     min_lat,max_lat = id_data.id_lat.min(),id_data.id_lat.max()
#     min_lng,max_lng = id_data.id_lng.min(),id_data.id_lng.max()
#     userow = (lon.iloc[:,0]>=min_lng)&(lon.iloc[:,0]<=max_lng)
#     usecol = (lat.iloc[0]>=min_lat)&(lat.iloc[0]<=max_lat)

#     df = df.loc[userow,usecol]
#     df = df.astype(float)
#     return df


# dt = datetime(2014, 5, 10, 14, 30)


# df = get_prediction_data(min_lat,max_lat,min_lng,max_lng,lat,lon,dt)

In [252]:
def get_prediction_data(min_lat,max_lat,min_lng,max_lng,lat,lon,dt):
    path = f"H:/study/prediction_data/parameter_lambda_0.019_iterate_1000_p3/env/{dt.month}月/{dt.month}月{dt.day}日/NV{dt.year%1000}{dt.month}{dt.day}{dt.hour}.{int(dt.minute/60*10)}_0.02_0.019_1000_p3_env.csv"
    df = pd.read_csv(path, header=None, index_col=None)

    min_lat,max_lat = id_data.id_lat.min(),id_data.id_lat.max()
    min_lng,max_lng = id_data.id_lng.min(),id_data.id_lng.max()
    userow = (lon.iloc[:,0]>=min_lng)&(lon.iloc[:,0]<=max_lng)
    usecol = (lat.iloc[0]>=min_lat)&(lat.iloc[0]<=max_lat)

    df = df.loc[userow,usecol]
    df = df.astype(float)

    pred_data = pd.DataFrame(zip(df.to_numpy().reshape(-1),\
                            lat.loc[userow,usecol].to_numpy().reshape(-1),\
                            lon.loc[userow,usecol].to_numpy().reshape(-1)),\
                            columns=["pred","id_lat_mesh","id_lng_mesh"])
    pred_data["datetime"] = dt
    return df,pred_data

dt = datetime(2014, 5, 10, 14, 30)

min_lat,max_lat = id_data.id_lat.min(),id_data.id_lat.max()
min_lng,max_lng = id_data.id_lng.min(),id_data.id_lng.max()
df,pred_data = get_prediction_data(min_lat,max_lat,min_lng,max_lng,lat,lon,dt)